In [1]:
import os
import sys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib


repo_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(repo_root)

from src.utils.operation_helpers import  run_models, run_models_synthetic
from src.utils.file_handlers import group_dataset_files, read_dataset_files
from sklearn.model_selection import train_test_split

In [2]:
EPOCHS = 25

### Synthetic Data

In [7]:
data_dir = os.path.join(repo_root, 'datasets', 'Synthetic_Data')

filein_idx = 'N-1000_M-1000_K-4_L-0_nodes.txt'
filein_data = 'N-1000_M-1000_K-4_L-0_edges.txt'

dataset_files = {
    'nodes':filein_idx, 
    'edges': filein_data
    }

results = []

for epoch in range(EPOCHS):
    data, pi_values = read_dataset_files(dataset_files, data_dir, is_synthetic=True)

    train, test = train_test_split(data, train_size=.8)

    df = run_models_synthetic(train, test, pi_values)
    results.append(df)


combined_results = pd.concat(results, ignore_index=True)
synthetic_results = combined_results.groupby('model').mean()

The model with the best performance of each metric is highlighted below

In [8]:
synthetic_results.style \
    .highlight_max(axis=0, color='grey', subset=synthetic_results.columns.difference(['model', 'rms'])) \
    .highlight_min(axis=0, color='grey', subset=['rms'])

### Real Data

Example of running all models on a real dataset, to change the dataset identify it by indexing the dataset grouping

In [9]:
data_dir = os.path.join(repo_root, 'datasets', 'Real_Data')
grouped = group_dataset_files(data_dir)

data, pi_values = read_dataset_files(grouped['00103'], data_dir, is_synthetic=False)

results = []
for epoch in range(EPOCHS):

    train, test = train_test_split(data, train_size=.8)

    df = run_models(train, test, pi_values)
    results.append(df)


combined_results = pd.concat(results, ignore_index=True)
real_results = combined_results.groupby('model').mean()

The model with the best performance of each metric is highlighted below

In [10]:
real_results.style.highlight_max(axis=0, color='grey', subset=real_results.columns.difference(['model']))