In [3]:
import os
import sys
import csv
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

repo_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(repo_root)

In [4]:
EXPERIMENT_PATH = os.path.join(repo_root, 'exp', 'ex04')
os.chdir(EXPERIMENT_PATH)

In [5]:
def file_handlers(): 
    data_path = os.path.join(os.getcwd(), 'data')

    all_results = []
    
    for file in os.listdir(data_path):
        id, _ = file.split('_data.csv')
        if file.endswith('.csv'):
      
            file_path = os.path.join(data_path, file)
            df = pd.read_csv(file_path)

            result = {
                    'dataset':id, 
                    'Ours': df['Ours'].mean(), 
                    'Zermello': df['Zermello'].mean(),
                    'higher_order_speedup': df['Zermello'].mean() / df['Ours'].mean(),
                    'Ours_BIN': df['Ours_bin'].mean(),
                    'Zermello_BIN' : df['Zermello_bin'].mean(),
                    'binary_speedup': df['Zermello_bin'].mean() / df['Ours_bin'].mean()
                      }

            all_results.append(result)

    final_df = pd.DataFrame(all_results)
    final_df['dataset'] = pd.to_numeric(final_df['dataset'], errors='coerce')
    return final_df.sort_values(by='dataset')

In [6]:
df = file_handlers()
df.to_csv('results/Convergence_Table.csv')
display(df.style.hide(axis='index'))